# .gitignore
.env
logs/
*.pyc
__pycache__/
metabase-data/
dbt/target/
dbt/dbt_packages/
dbt/logs/
google-cloud-sdk/
terraform-key.json
gcp-key.json
*.terraform
*.terraform.lock.hcl
*terraform.tfstate
*terraform.tfstate.backup
openai/
vector_db/